:root {
  --black-05: #00000080;
  --main-color: #F7F6F2;
  --emphasis-color: #E4032F;
  --formal-color: #121212;
  --formal-color-08: #121212cc;
  --paragraph-color: #4A4A4A;

  --max-width: 1200px;
}