@use "../settings";
@use "../tools";

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: auto;
  height: calc(100vh - 80px);
  gap: 25px;
  align-items: center;
  place-items: center;

  //faded
  opacity: 0;
  transform: translateY(-150px);
  transition: all 0.8s ease-out;

  //todo: move to trumps?
  &.show-fade {
    @include tools.show-fade;
  }

  @include tools.desktop {
    justify-content: flex-start;
  }
}

.hero .title {
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  font-weight: 500;
  text-align: center;

  @include tools.desktop {
    font-size: 80px;
  }
}

.hero-background {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;

  @include tools.desktop {
    border-radius: 0 0 15% 15%;
  }

  @include tools.background("https://res.cloudinary.com/dmpiwivwa/image/upload/v1681681010/pizzeria-landing-page-images/images/hero-bg_dh3xhf.webp");
}