@use "../settings";
@use "../tools";

.hero {
  position: relative;
  top: -141px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  place-content: center;
}

.hero-background {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
  border-radius: 0 0 15% 15%;

  @include tools.background("https://res.cloudinary.com/dmpiwivwa/image/upload/v1681681010/pizzeria-landing-page-images/images/hero-bg_dh3xhf.webp");
}