@use "../tools";

.icons-pack {
  display: none;

  @include tools.desktop {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}

.icons-pack-hamburger {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
