@use "../tools";

.map-card {
  display: flex;
  flex-direction: column;
  gap: 20px;

  //faded
  opacity: 0;
  transform: translateY(150px);
  transition: all 0.8s ease-out;

  //todo: move to trumps?
  &.show-fade {
    @include tools.show-fade;
  }

  @include tools.desktop {
    flex-direction: row;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-map {
  background-color: tomato;
  height: 250px;
  
  @include tools.desktop {
    width: 500px;
  }
}