@use "../settings";
@use "../tools";

.nav-menu {
  position: absolute;
  right: 0;
  top: 65px;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 40px;
  z-index: 10;
  clip-path: polygon(50% 0, 100% 0, 100% 0, 50% 0);
  transition: all 0.2s ease-in;

  
  &.active-menu {
    display: block;
    backdrop-filter: blur(80px);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    @include tools.glassmorphism-lg;
  }

  @include tools.desktop {
    display: none;
    padding: 0;
    position: sticky;
    top: 0;
    width: 100%;
    background: var(--black-05);
  }
}

.nav-sticky {
  @extend .nav-menu;
  
  @include tools.desktop {
    display: block;
    clip-path: none;
  }

  &.desktop-menu {
    @include tools.glassmorphism;
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  
  @include tools.desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    width: 100%;
    padding: 20px 0;
  }
}
.nav-list li {
  overflow: hidden;
}

.nav-item {
  position: relative;
  overflow: hidden;
  
  &::after {
    display: block;
    content: "";
    height: 2px;
    background-color: var(--emphasis-color);
    transform: translateX(-105%);
    transition: all 0.3s ease;
  }

  &:hover {
    &::after {
      transform: translateX(0);
    }
  }
}

.nav-menu a, .nav-menu a{
  color: var(--main-color);
  letter-spacing: 1px;
  text-transform: uppercase;
}