@use "../settings";

.paragraph {
  font-size: 16px;
  color: var(--paragraph-color);
  line-height: 20px;
}

.paragraph-sm {
  font-size: 20px;
  line-height: 26px;
}

.paragraph-3xl {
  font-size: 30px;
  line-height: 36px;
}